h2{
    text-align: center;
}
.search{
    width: 400px;
    margin: 20px auto;
    .form_input{
        margin-bottom: 20px;
        width: 300px;
        height: 32px;
    }
    .add_button{
        height: 39px;
        width: 80px;
    }
}